@import "./tarteaucitron";
@import "../icons/icons";

#tarteaucitronRoot {
    line-height: 1.4;
}

#tarteaucitronRoot span#tarteaucitronDisclaimerAlert {
    padding: 0;
    text-align: left !important;
    font-size: 15px !important;
}

html body #tarteaucitronRoot div#tarteaucitronAlertBig,
div#tarteaucitronServices {
    box-shadow: none;
}

html div#tarteaucitronRoot.tarteaucitronBeforeVisible::before,
#tarteaucitronRoot button#tarteaucitronBack {
    background-color: #000;
}

#tarteaucitronRoot #tarteaucitronAlertBig {
    text-align: left;
    background-color: #fff;
    color: inherit;
    max-width: 600px;
    a {
        text-decoration: underline;
    }
}


#tarteaucitronRoot #tarteaucitronAlertBig .tarteaucitronAlertBigTitle {
    font-size: 21px;
    display: inline-block;
    width: 100%;
    color: inherit;
    margin-bottom: 10px;
}

#tarteaucitronAlertBig strong,
#tarteaucitronAlertSmall strong,
#tarteaucitronAlertBig a,
#tarteaucitronAlertSmall a,
#tarteaucitronAlertBig #tarteaucitronPrivacyUrl, #tarteaucitronAlertBig #tarteaucitronPrivacyUrlDialog,
#tarteaucitronAlertBig #tarteaucitronDisclaimerAlert,
#tarteaucitronAlertBig #tarteaucitronDisclaimerAlert strong {
    color: inherit;
}

#tarteaucitronAlertBig #tarteaucitronCloseAlert,
#tarteaucitronAlertBig #tarteaucitronPersonalize,
#tarteaucitronAlertBig #tarteaucitronPersonalize2,
.tarteaucitronCTAButton,
#tarteaucitron #tarteaucitronPrivacyUrl,
#tarteaucitron #tarteaucitronPrivacyUrlDialog,
#tarteaucitronRoot .tarteaucitronDeny,
#tarteaucitronRoot .tarteaucitronAllow {
    margin-left: 0;
}

#tarteaucitronAlertBig #tarteaucitronCloseAlert,
#tarteaucitron #tarteaucitronPrivacyUrl,
#tarteaucitron #tarteaucitronPrivacyUrlDialog {
    margin-bottom: 0;
    background-color: #333;
    color: #fff;
}

.tarteaucitronAlertBigBtnWrapper {
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
}

#tarteaucitronCloseCross {
    font-size: 13px;
    color: inherit;
    padding: 0;

    .icon-long-arrow-right {
        position: relative;
        top: 0.2em;
        color: inherit;
    }
}

#tarteaucitronRoot .tarteaucitronH1 {
    text-align: left;
    font-size: 21px;
    margin-top: 0;
    color: inherit;
    padding-right: 30px;
}

div#tarteaucitronInfo {
    text-align: left !important;
    max-width: none !important;
    padding: 0 !important;
    border: none !important;
    font-size: 15px !important;
    margin-bottom: 1em !important;
}

#tarteaucitronRoot .tarteaucitronH2 {
    margin: 0;
    color: inherit;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronAsk {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList .tarteaucitronTitle,
#tarteaucitron #tarteaucitronServices .tarteaucitronTitle button,
#tarteaucitron #tarteaucitronInfo,
#tarteaucitron #tarteaucitronServices .tarteaucitronDetails,
#tarteaucitronRoot .asCatToggleBtn {
    color: inherit;
    display: block;
    text-align: left;
    width: auto;
    background: transparent;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronLine {
    padding: 0 20px 20px;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine {
    padding: 20px;
    .tarteaucitronAsk {
        float: none;
        .tarteaucitronCheck,
        .tarteaucitronCross {
            display: none;
        }
    }
}

#tarteaucitron #tarteaucitronServices #tarteaucitronAllAllowed,
#tarteaucitron #tarteaucitronServices #tarteaucitronAllDenied,
#tarteaucitron #tarteaucitronServices #tarteaucitronAllDenied2,
#tarteaucitron #tarteaucitronServices #tarteaucitronAllAllowed.tarteaucitronIsSelected,
#tarteaucitron #tarteaucitronServices #tarteaucitronAllDenied.tarteaucitronIsSelected,
#tarteaucitron #tarteaucitronServices #tarteaucitronAllDenied2.tarteaucitronIsSelected {
    background-color: #333;
    opacity: 1 !important;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList .tarteaucitronTitle,
#tarteaucitron #tarteaucitronServices .tarteaucitronTitle button, #tarteaucitron #tarteaucitronInfo,
#tarteaucitron #tarteaucitronServices .tarteaucitronDetails, #tarteaucitronRoot .asCatToggleBtn {
    margin-top: 0;
    padding: 0 20px;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronLine .tarteaucitronName {
    padding-top: 0;
    margin-left: 0;
}

#tarteaucitron #tarteaucitronInfo a {
    color: inherit;
    font: inherit;
}

#tarteaucitronServices {
    background-color: #fff;
}

#tarteaucitron #tarteaucitronServices .tarteaucitronMainLine:hover,
#tarteaucitron #tarteaucitronServices .tarteaucitronLine,
#tarteaucitron #tarteaucitronServices .tarteaucitronLine:hover,
#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronCookiesList .tarteaucitronHidden,
#tarteaucitron #tarteaucitronServices .tarteaucitronHidden,
#tarteaucitron #tarteaucitronServices .tarteaucitronTitle + [id^="tarteaucitronDetails"],
html body #tarteaucitronRoot div#tarteaucitronSave {
 background-color: transparent;
}

#tarteaucitronRoot {
    .tarteaucitronSwitchWrapper {
        position: relative;
        display: inline-block;
    }
    
    .tarteaucitronSwitch {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        appearance: none;
    }
    
    .tarteaucitronSwitchToggle {
        display: block;
        position: relative;
        width: 60px;
        height: 30px;
        color: #9C1A1A;
        border: 2px solid currentColor;
        background-color: currentColor;
        border-radius: 30px;
        transition: background-color 150ms;
        cursor: pointer;
    }
    
    .tarteaucitronSwitchHandle {
        position: absolute;
        display: grid;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 30px;
        transition: margin 150ms;
        font-size: 10px;
        color: inherit;
        
        &::before,
        &::after {
            grid-column: 1;
            grid-row: 1;
            font-family: icons !important;
            font-style: normal;
            font-weight: normal !important;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            text-align: center;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    
        &::before {
            content: map-get($icons-map, "cross");
        }
    
        &::after {
            content: map-get($icons-map, "checkmark");
        }
    }
    
    .tarteaucitronSwitch:checked + .tarteaucitronSwitchToggle {
        color: #1B870B;
    
    }
    
    .tarteaucitronSwitch:checked + .tarteaucitronSwitchToggle .tarteaucitronSwitchHandle {
        margin-left: 30px;
    }
  
    .tarteaucitronSwitchHandle::after,
    .tarteaucitronSwitch:checked + .tarteaucitronSwitchToggle .tarteaucitronSwitchHandle::before {
      transform: scale(0);
      opacity: 0;
      transition: transform 200ms, opacity 200ms;
    }
  
    .tarteaucitronSwitchHandle::before,
    .tarteaucitronSwitch:checked + .tarteaucitronSwitchToggle .tarteaucitronSwitchHandle::after {
      transform: scale(1);
      opacity: 1;
      transition: transform 200ms 50ms, opacity 200ms 50ms;
    }
}

.tarteaucitronListCookies:empty {
    display: none;
}

.tarteaucitronMainLineSeparator {
    opacity: 0.2;
    margin: 40px 0 20px;
}

#tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronClosePanelCookie,
#tarteaucitron #tarteaucitronClosePanel {
    color: inherit;
    background-color: #fff;
}

#tarteaucitronRoot #tarteaucitronSaveButton {
    background-color: #333;
}

#tarteaucitronRoot #tarteaucitron [aria-pressed="true"] {
    text-shadow: none;
}

#tarteaucitron #tarteaucitronClosePanel {
    top: 15px;
    right: 20px !important;
    padding: 10px;
    width: auto;
    cursor: pointer;
    z-index: 1;
}

div#tarteaucitronServices {
    margin-top: 0 !important;
}

#tarteaucitronRoot #tarteaucitronNoServicesTitle {
    font-size: 14px;
}

@media screen and (max-width: 900px) {
    html div#tarteaucitronAlertBig button {
        margin: 0 !important;
    }
}

@media screen and (max-width: 767px) {
    html body #tarteaucitronRoot #tarteaucitron .tarteaucitronAsk {
        display: flex !important;
        text-align: left !important;
    }

    
    html body #tarteaucitronRoot #tarteaucitron .tarteaucitronBorder {
        .tarteaucitronName,
        .tarteaucitronAsk {
            width: auto !important;
        }

        .tarteaucitronName {
            max-width: calc(100vw - 130px) !important;
        }
    }

    #tarteaucitronRoot {
        .tarteaucitronSwitchToggle {
            width: 40px;
            height: 20px;
        }

        .tarteaucitronSwitchHandle {
            width: 20px;
            height: 20px;
            font-size: 7px;
        }

        .tarteaucitronSwitch:checked + .tarteaucitronSwitchToggle .tarteaucitronSwitchHandle {
            margin-left: 20px;
        }
    }
}
@media screen and (max-width: 500px) {
    .tarteaucitronAlertBigBtnWrapper button {
        width: 100%;
    }
}

@media screen and (max-width: 479px) {
    #tarteaucitron .tarteaucitronLine .tarteaucitronAsk {
        float: right!important;
    }
}