$icons-font: "icons";

@font-face {
  font-display: block;
  font-family: $icons-font;
  src: url("../icons/icons.woff2?60c70eefb55d56b531a5ec6e9166d1b5") format("woff2"),
url("../icons/icons.woff?60c70eefb55d56b531a5ec6e9166d1b5") format("woff");
}

.icon::before {
  font-family: icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons-map: (
  "checkmark": "\f101",
  "cross": "\f102",
  "long-arrow-right": "\f103",
);

.icon.icon-checkmark::before {
  content: map-get($icons-map, "checkmark");
}
.icon.icon-cross::before {
  content: map-get($icons-map, "cross");
}
.icon.icon-long-arrow-right::before {
  content: map-get($icons-map, "long-arrow-right");
}
